body {
    background-color: black;
}
* {
    color: white;
}
input {
    color: black;
}
.btn {
    background-color: #080;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #070;
    text-decoration: none;
}
.btn:hover {
    background-color: #070;
    border-color:#060;
}
